
# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate

# Derived data
DerivedData/

# Xcode build
build/

# SwiftPM
.swiftpm/

# temporary files
*.swp
.DS_Store
GoogleService-Info.plist
requestRide.cf.js
rides.cf.js
.DS_Store
